body{
    background-color: blanchedalmond;
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.1lHJXAmd4mD4A2kq_8J6RAHaFj&pid=Api&P=0);
    
   
}

header{
    background-color: burlywood;
}

