header{
      background-color: rgb(78, 78, 78);
      
}

body{
    background-image: url(https://img.freepik.com/fotos-premium/ceu-noturno-estrelas-e-galaxias-no-ceu-ao-entardecer_494741-58775.jpg);
    margin: 0%;
}

.headercent{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    align-items: center;
}

.nav{
    text-shadow: none;
    display: inline;
    padding-left: 20px;
    font-size: large;
}

.superior{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    padding: 3px 7px;
    background-color: rgb(87, 87, 87);
    transition: 4ms;
    border-radius: 8px; 
}

.textpadrao{
    text-align: justify;
    margin-left: 22%;
    margin-right: 22%;
    width: 55%;
    text-indent: 50px;
    font-size: large; 
    border: 3px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: rgb(221, 221, 221) ;
    border-radius: 2rem;

}


.titulopadrao{
    position: relative;
    left: 22%;
    width: 50%;
    text-align: center;
    font-size: x-large;
    letter-spacing: 3px;
    font-weight: bold;
}

#simb_header{
    display: flex;
}

#logo_starwars{
    width: 8rem;
    margin-right: 625px
}   
